.post__created_at {
    margin-left: 15px;
}

.post__container {
    padding: 50px 30px;
}

.post__like_btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #1976d2
}

.comment__reply_form {
    display: none;
}

.comment__reply_form.active {
    display: block;
}
